<% provide(:title, "All Aquamarine Reminders") %>

<%= render "shared/app_sidebar" %>

<section id="main-dashboard-content">
  <p class="welcome-title-user"> Hi, Chris </p>
  <h2 id="welcome-title">All Your Aquamarine reminders</h1>
    <section id="properties-section">
        <div class="properties-actions">
            <%= link_to "Return to Calendar", dashboard_path,class: "event-return-to-dashboard-btn"%>
        </div>
    </section>

    
    <section id="system-activities">
        <div id="system-activities-container">
        <% @aquamarine_reminders.each do |reminder| %>
          <%= render 'color_code_details', reminder: reminder %>
        <%end%>
        </div>
    </section>
    <section class="pagination digg_pagination">
      <%= will_paginate @aquamarine_reminders %>
    </section>
</section>


