<% provide(:title, "Edit Reminder") %>

<%= render "shared/app_sidebar.html.erb" %>

<section id="main-dashboard-content">
    <section id="activities-section">
        <div class="activities-title">Manually Edit <%= @event.title.capitalize %> Reminder</div>
    </section>
    <section id="events-form-container">
        <div class="empty-space">
        </div>
        <%= render 'form', event: @event %>
        
        <div class="empty-space">
        </div>
    </section>
    

    
</section>