#sidebar{
  z-index:1000;
}


.event-return-to-dashboard-btn{
  width:220px;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-weight: 300;
  padding: 10px 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color:#6671ad;
  text-align:center;
  margin-right:10px;
}

.event-return-to-dashboard-btn:hover{
  background-color:#615ea8;
  color:#fff;
}

.event-return-to-all-reminders-btn{
  width:220px;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-weight: 300;
  padding: 10px 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color:#41a541;
  text-align:center;
  margin-right:10px;
}

.event-return-to-all-reminders-btn:hover{
  background-color:#46b346;
  color:#fff;
}


.view-event-btn{
  margin-right:20px;
  color:#fff;
  border-radius:20px;
  border:none;
  font-weight:300;
  padding:10px 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: #41a541;
  text-decoration: none;
}

/* Modals */

.modal-open{
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  height:700px;
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 18px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #565492;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.modal-header {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  padding: 20px;
  
}

.modal-body > .field input[type=text],
.modal-body > .field input[type=datetime-local]{
  width:100%;
  padding:15px;
  margin:8px 0;
  box-sizing: border-box;
  border-radius:10px;
  border:0px;
  background:rgb(238, 239, 248);
  color:#565492;
}

.modal-body input[type=checkbox]{
  width:20px;
  height:20px;
  display:flex;
  margin:8px 0;
  box-sizing: border-box;
}

.cancel-btn{
  margin-right:20px;
  color:#fff;
  border-radius:10px;
  border:none;
  font-weight:300;
  padding:10px 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color:#d42222;
}

.cancel-btn:hover{
  background-color:#a03434;
  color:#fff;
}

.submit-btn{
  margin-right:20px;
  color:#fff;
  border-radius:10px;
  border:none;
  font-weight:300;
  padding:10px 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color:#41a541;
}

.submit-btn:hover{
  background-color:#2b852b;
  color:#fff;
}

.modal-body select{
  width:100%;
  padding:15px;
  margin:8px 0;
  box-sizing: border-box;
  border-radius:10px;
  border:0px;
  background:rgb(238, 239, 248);
  color:#565492;
}

.modal-footer {
  padding: 15px;
  text-align: right;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}




.reminder-dot{
  height:10px;
  width:30px;
  margin-left:5px;
  margin-top:1px;
  background-color:#78da0c;
  border-radius:22px;
  align-items: center;
  display: inline-block;
  transition:all 400ms ease-in-out;
}



.allday-status{
  color:#2b852b;
  background:#cef0ce;
  border-radius:10px;
  margin-top:20px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
}

.onetime-status{
  color:#852b2b;
  background:#f0cece;
  border-radius:10px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
}

.has-error > input {
  border-color: #a94442;
 }

 .has-error > label {
  color: #a94442;
 }

 .has-error > div {
  color: #a94442;
 }


#events-container{
  display:grid;
  grid-template-columns: 1fr 3fr; 
  gap:20px;
  margin-top:20px;
  box-sizing:border-box;
}

.all-events-list{
  height: 500px;
  //box-shadow: 2px 3px 5px 2px rgba(153,172,204,0.16);
  box-sizing:border-box;
  background:#fff;
  border-radius:10px;
  // overflow-y:scroll;

}

#activities-section{
  display:flex;
  margin-top:20px;
  align-items:center;
  justify-content:space-between;
  margin-left:5px;
}

.activities-actions{
  display:flex;

}

.activities-title{
  font-size: 24px;
  margin:20px 5px;
  color:#565492;
  font-family:"Lato-Bold";
}

#events-form-container{
  display:grid;
  grid-template-columns: 0.25fr 4fr 0.25fr; 
  gap:20px;
  margin-top:20px;
  box-sizing:border-box;
  margin-bottom:20px;
}

.events-main-form-section{
  display:grid;
  grid-template-columns: 1fr;
  box-sizing:border-box;
  height: 300px;
 
  

}

.events-form-general-information{
  // box-shadow: 2px 3px 5px 2px rgba(153,172,204,0.16);
  box-sizing:border-box;
  padding:20px;
  background:#fff;
  border-radius:10px;
  margin-bottom:60px;
}

.event-general-information-title{
  margin-left:20px;
  color:#565492;
}

.event-general-name-row{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:20px;
}


.event-general-name-row{
  margin-top:20px;
  margin-bottom:20px;
  margin-left:20px;
  margin-right:20px;
}

.event-general-name-row > .field input[type=text],
.event-general-name-row > .field input[type=date],
.event-general-name-row > .field input[type=datetime-local],
.event-general-name-row > .field input[type=number]{
  width:100%;
  padding:15px;
  margin:8px 0;
  box-sizing: border-box;
  border-radius:10px;
  border:0px;
  background:rgb(238, 239, 248);
  color:#565492;

}

.event-general-name-row input[type=checkbox]{
  width:20px;
  height:20px;
  display:flex;
  margin:8px 0;
  box-sizing: border-box;
}

.event-general-name-row select{
  width:100%;
  padding:15px;
  margin:8px 0;
  box-sizing: border-box;
  border-radius:10px;
  border:0px;
  background:rgb(238, 239, 248);
  color:#565492;

}

.return-to-dashboard-btn{
  margin-right:20px;
  color:#fff;
  border-radius:10px;
  border:none;
  font-weight:300;
  padding:10px 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color:#615ea8;
}

.return-to-dashboard-btn:hover{
  background-color:#565492;
  color:#fff;
}

.event-action-btn{
  width:220px;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-weight: 300;
  padding: 10px 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color:#565492;  
  text-align:center;
  margin-right:10px;
}

.event-action-btn:hover{
  background-color:#5f5da1;
  color:#fff;
}

.event-archive-btn{
  width:220px;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-weight: 300;
  padding: 10px 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color:#ff835e; 
  text-align:center;
  margin-right:10px;
}

.event-archive-btn:hover{
  background-color:#d1603e;
  color:#fff;
}


.event-user-profile-image{
  margin-bottom:20px;
}


.event-detailed-info{
  height: 100%;
  box-sizing:border-box;
  padding:20px;
  background:#fff;
  border-radius:10px;
  display:flex;
  text-align: left;

  
}

.event-general-info-title{
  margin-bottom:20px;
}

.event-detailed-info-sidebar{
  padding:20px;
}

.event-detailed-info-event-sidebar{
  padding:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.event-sidebar-info-wrapper{
  margin-left:20px;
  
}

.employee-deposit{
  margin-bottom:20px;
}

.employee-notification-title,
.event-collection-title,
.employee-outstanding-title,
.employee-deposit-title{
  font-size:12px;
  margin-bottom:5px;
  color:#565492;
}

.employee-notification-title{
  margin-bottom:15px;
}

.employee-deposit-amount{
  font-size:18px;
  color:#41a541;
  font-family: "OpenSans-Bold";
  letter-spacing: 0.5px;
}

.event-collection-link a{
  font-size:18px;
  color:#41a541;
  font-family: "Lato-Bold";
  letter-spacing: 0.5px;
}

.employee-send-email{
}

.send-email-btn{
  margin-top:40px;
  color:#fff;
  border-radius:20px;
  border:none;
  font-weight:300;
  padding:10px 30px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: #41a541;
  text-decoration: none;
}

.event-collection-link:hover{
  transform: scale(1.05);
  transition: all ease 0.2s;

}

.event-collection{
  margin-bottom:20px;
}



.event-detailed-info-main-content{
  //background:lightcoral;
  margin-left:20px;
}

.event-general-info{
  display:flex;
}

.event-general-info-title{
  color:#565492;
  font-family:"Lato-Bold";
  font-size:16px;

}

.event-attribute,
.employee-address,
.employee-phone,
.employee-birth-date,
.employee-gender,
.employee-email-address{
  margin-bottom:25px;
}


.event-attribute-title
{
  color:#636367;
  font-size:14px;
  margin-bottom:5px;
}

.event-attribute-full{
  color: #565492;
  font-family: "Lato-Bold";
  font-size: 16px;
}


.event-general-info-column-2{
  margin-left:80px;
}




.event-object-actions{
  display:flex;
  margin-bottom:20px;
}


